<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <meta name="description" content="Global domain name resolution service that automatically protects users from online threats such as phishing and malware. No software or hardware is required. Get started for free.">
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        <link rel="icon" type="image/png" href="img/FireDNS-logomark.png"/>
        <title>FireDNS - Internet Security For Everyone</title>
    </head>
<body>
    <div class="header">
        <div class="header-logo">
            <div class="h-c-header-logo">
                <a href="#" class="h-c-header-logo-link">
                    <img src="../img/FireDNS logo  Full Color_Black Only.png">
                </a>
            </div>
        </div>
        <div class="header-right">
            <div class="header-right_button">
                <div class="header-button">
                    <a href="https://dashboard.firedns.io/account/login" class="buttons button--web-only" target="_blank" rel="noopener noreferrer">Log In</a>
                    <a href="https://dashboard.firedns.io/account/signup" class="button button--web-only" target="_blank" rel="noopener noreferrer">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

    <div class="g-team-home-intro">
        <h2 class="heading h-c-headline--two h-has-bottom-margin h-has-top-margin">G Suite just got better — introducing Google Workspace</h2>
        <h1 class="title h-c-headline h-c-headline--two h-has-bottom-margin">Everything you need to get anything done, now in one place.</h1>
        <img src="../img/unnamed.png" class="image">
        <a href="#" class="cta button button--primary">Get started</a>
    </div>
    
    <div class="gteam-home-hero-animation ng-scope">
        <div class="g-team-feature-list">
            <div class="video">
                <video class="main-video" autoplay playsinline loop>
                    <source src="../video/home-intro.mp4" type="video/mp4">
                </video>
            </div>
            <div class="items">
                <div class="item gteam-home-hero-animation-card">
                    <div class="countdown">
                        <div></div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <circle cx="20" cy="20" r="13"></circle>
                            <circle class="fill progress" cx="20" cy="20" r="13" style="animation: 0s ease 0s 1 normal none running none;"></circle>
                        </svg>
                    </div>
                    <h2 class="title h-c-headline h-c-headline--two">Tools you love, thoughtfully connected</h2>
                    <p class="description">An integrated workspace that’s simple to use, Google Workspace lets you spend less time managing your work and more time actually doing it.</p>
                </div>
                <div class="item gteam-home-hero-animation-card">
                    <div class="countdown">
                        <div></div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <circle cx="20" cy="20" r="13"></circle>
                            <circle class="fill progress" cx="20" cy="20" r="13" style="animation: 0s ease 0s 1 normal none running none;"></circle>
                        </svg>
                    </div>
                    <h2 class="title h-c-headline h-c-headline--two">Tools you love, thoughtfully connected</h2>
                    <p class="description">An integrated workspace that’s simple to use, Google Workspace lets you spend less time managing your work and more time actually doing it.</p>
                </div>
                <div class="item gteam-home-hero-animation-card">
                    <div class="countdown">
                        <div></div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <circle cx="20" cy="20" r="13"></circle>
                            <circle class="fill progress" cx="20" cy="20" r="13" style="animation: 0s ease 0s 1 normal none running none;"></circle>
                        </svg>
                    </div>
                    <h2 class="title h-c-headline h-c-headline--two">Tools you love, thoughtfully connected</h2>
                    <p class="description">An integrated workspace that’s simple to use, Google Workspace lets you spend less time managing your work and more time actually doing it.</p>
                </div>
            </div>
            <div class="carousel"></div>
        </div>
    </div>


    <div class="g-team-home-get-started">
        <img src="../img/unnamed.gif" class="logo" alt="logo">
        <h1 class="title h-c-headline h-c-headline--two h-has-bottom-margin">Ready to get started?</h1>
        <p class="subtitle">See how Google Workspace can help you get more done with business productivity and collaboration tools loved by billions of users.</p>
        <div class="_buttons">
            <a href="#" class="cta button button--primary">Start today</a>
            <a href="#" class="cta button--secondary">Find a plan</a>
        </div>
    </div>

    <div class="g-team-home-customer">
        <h2 class="title h-c-headline h-c-headline--two h-has-bottom-margin h-has-top-margin">Chosen by millions of businesses</h2>
        <div class="customers">
            <a class="customer">
                <div class="customer-top">
                    <picture class="icon">
                        <img src="../img/unnamed (3).png">
                    </picture>
                </div>
                <div class="customer-bottom">
                    <p class="description">Driving business and positive change through collaboration</p>
                    <span class="material-icons-extended customer-cta"><img src="../img/arrow-right.png"></span>
                </div>
            </a>
            <a class="customer">
                <div class="customer-top">
                    <picture class="icon">
                        <img src="../img/unnamed (2).png">
                    </picture>
                </div>
                <div class="customer-bottom">
                    <p class="description">Empowering global collaboration to better serve millions worldwide</p>
                    <span class="material-icons-extended customer-cta"><img src="../img/arrow-right.png"></span>
                </div>
            </a>
            <a class="customer">
                <div class="customer-top">
                    <picture class="icon">
                        <img src="../img/unnamed (1).png">
                    </picture>
                </div>
                <div class="customer-bottom">
                    <p class="description">Connecting teams across 100 countries for better consumer insights</p>
                    <span class="material-icons-extended customer-cta"><img src="../img/arrow-right.png"></span>
                </div>
            </a>
        </div>
        <div class="carousel">
            <div class="glue-pagination h-c-carousel ng-isolate-scope glue-o-pagination">
                <div class="carousel-container ng-scope">
                    <ul class="glue-carousel carousel-full glue-is-ready" style="width: 1350px; transform:translate3d (0px 0px 0px);">
                        <li class="carousel-item carousel-item1" style="width: 450px;min-height: 264px;">
                            <a href="#" class="customer">
                                <div class="customer-top">
                                    <picture class="icon">
                                        <img src="../img/unnamed (3).png">
                                    </picture>
                                </div>
                                <div class="customer-bottom">
                                    <p class="description">Driving business and positive change through collaboration</p>
                                    <span class="material-icons-extended customer-cta"><img src="../img/arrow-right.png"></span>
                                </div>
                            </a>
                        </li>                        
                    </ul>
                </div>
                <div class="h-c-carousel__navigation ng-scope">
                    <ul class="glue-pagination-page-list ng-isolate-scope glue-o-pagination__page-list">
                        <li ng-repeat="i in PageListCtrl.pageCollection" data-page="1" class="glue-o-pagination__button-container glue-o-pagination__page-list-button-container ng-scope active" ng-class="{active: i == PageListCtrl.model.currentPage}" ng-show="PageListCtrl.activePageCollection[i - 1]">
                            <input class="glue-o-pagination__button glue-o-pagination__page-list-button ng-binding ng-scope" type="radio" name="cta-group" checked=""></label>
                        </li>
                        <li ng-repeat="i in PageListCtrl.pageCollection" data-page="1" class="glue-o-pagination__button-container glue-o-pagination__page-list-button-container ng-scope active" ng-class="{active: i == PageListCtrl.model.currentPage}" ng-show="PageListCtrl.activePageCollection[i - 1]">
                            <input class="glue-o-pagination__button glue-o-pagination__page-list-button ng-binding ng-scope" type="radio" name="cta-group"></label>
                        </li>
                        <li ng-repeat="i in PageListCtrl.pageCollection" data-page="1" class="glue-o-pagination__button-container glue-o-pagination__page-list-button-container ng-scope active" ng-class="{active: i == PageListCtrl.model.currentPage}" ng-show="PageListCtrl.activePageCollection[i - 1]">
                            <input class="glue-o-pagination__button glue-o-pagination__page-list-button ng-binding ng-scope" type="radio" name="cta-group"></label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a class="buttons hover" href="#">See all customer stories</a>
    </div>




    <div class="g-team-home-questions ng-scope">
        <h1 class="title h-c-headline h-c-headline--two h-has-bottom-margin h-has-top-margin">All your Google Workspace questions, answered</h1>
        <section class="questions">
            <div class="glue-zippy-set h-t-hercules ng-scope glue-is-collapsed">
                <ul class="h-c-expansion-panels__list">
                  <li class="glue-zippy glue-a-zippy--v-smooth-expand question ng-isolate-scope glue-c-zippy" data-g-action="faq Expand:What’s included with Google Workspace (formerly G Suite)?" data-g-event="Home: body" data-g-label="in-page interaction" id="zippy-1">
                    <div onclick="myFunction(event)" class="glue-zippy-btn heading ng-isolate-scope glue-c-zippy__btn" ng-click="gTeamHomeQuestionsCtrl.handleClickQuestion('1')" role="button" tabindex="0" aria-expanded="false" aria-controls="zippy-1-content">
                      <h4 class="question h-c-expansion-panels__button-header">What’s included with Google Workspace (formerly G Suite)?</h4>
                      <i class="icon material-icons-extended ng-scope" ng-if="!gTeamHomeQuestionsCtrl.ifQuestionExpanded('1')"><img src="../img/chevron-down.png"></i>                      
                    </div>
                    <div class="glue-zippy-content ng-isolate-scope glue-c-zippy__content" data-glue-zippy-content-set-aria-hidden="true"><div id="dropdown1" glue-collapse="zippyCtrl.collapsed" role="region" class="glue-c-zippy__collapse-region glue-collapse-collapsed" data-glue-collapse-set-aria-hidden="true" data-min-height="0" aria-expanded="false" aria-hidden="true" id="zippy-1-content" style="max-height:100%">  <div class="glue-c-zippy__content-container" ng-transclude="">
                      <div  class="answer col col-s-12 col-m-8 col-l-8 ng-scope">
                        Similar to G Suite, all Google Workspace plans provide a custom email for you
                        business and includes collaboration tools like Gmail, Calendar, Meet, Chat,
                        Drive, Docs, Sheets, Slides, Forms, Sites, and more. For additional details,
                        <a data-g-action="plans and pricing page" data-g-event="home: body" data-g-label="/pricing.html" href="#" tabindex="-1">visit our plans and pricing
                        page</a>.
                      </div>
                    </div></div></div>
                  </li>
                  <li class="glue-zippy glue-a-zippy--v-smooth-expand question ng-isolate-scope glue-c-zippy" data-g-action="faq Expand:Can my company try Google Workspace before committing?" data-g-event="Home: body" data-g-label="in-page interaction" id="zippy-2">
                    <div onclick="myFunction('_second')" class="glue-zippy-btn heading ng-isolate-scope glue-c-zippy__btn" ng-click="gTeamHomeQuestionsCtrl.handleClickQuestion('2')" role="button" tabindex="0" aria-expanded="false" aria-controls="zippy-2-content">
                      <h4 class="question h-c-expansion-panels__button-header">
                        Can my company try Google Workspace before committing?</h4>
                      <i class="icon material-icons-extended ng-scope" ng-if="!gTeamHomeQuestionsCtrl.ifQuestionExpanded('2')"><img src="../img/chevron-down.png"></i>
                    </div>
                    <div class="glue-zippy-content ng-isolate-scope glue-c-zippy__content" data-glue-zippy-content-set-aria-hidden="true"><div id="dropdown2" glue-collapse="zippyCtrl.collapsed" role="region" class="glue-c-zippy__collapse-region glue-collapse-collapsed" data-glue-collapse-set-aria-hidden="true" data-min-height="0" aria-expanded="false" aria-hidden="true" id="zippy-2-content">  <div class="glue-c-zippy__content-container" ng-transclude="">
                      <div class="answer col col-s-12 col-m-8 col-l-8 ng-scope">
                        Absolutely. All plans feature a free 14-day trial, so you can start to see the
                        value of Google Workspace before signing up. <a data-g-action="trial cta" data-g-event="home: body" data-g-label="faq" href="/signup/basic/welcome/?hl=en&amp;source=gafb-homepage-en&amp;ga_region=noram&amp;ga_country=us&amp;ga_lang=en#0" tabindex="-1">
                        Click here</a> to start your free trial.
                      </div>
                    </div></div></div>
                  </li>
                  <li class="glue-zippy glue-a-zippy--v-smooth-expand question ng-isolate-scope glue-c-zippy" data-g-action="faq Expand:Which Google Workspace plan is right for my business?" data-g-event="Home: body" data-g-label="in-page interaction" id="zippy-3">
                    <div onclick="myFunction('_third')" class="glue-zippy-btn heading ng-isolate-scope glue-c-zippy__btn" ng-click="gTeamHomeQuestionsCtrl.handleClickQuestion('3')" role="button" tabindex="0" aria-expanded="false" aria-controls="zippy-3-content">
                      <h4 class="question h-c-expansion-panels__button-header">Which Google Workspace plan is right for my business?</h4>
                      <i class="icon material-icons-extended ng-scope" ng-if="!gTeamHomeQuestionsCtrl.ifQuestionExpanded('3')"><img src="../img/chevron-down.png"></i>
                    </div>
                    <div class="glue-zippy-content ng-isolate-scope glue-c-zippy__content" data-glue-zippy-content-set-aria-hidden="true"><div id="dropdown3" glue-collapse="zippyCtrl.collapsed" role="region" class="glue-c-zippy__collapse-region glue-collapse-collapsed" data-glue-collapse-set-aria-hidden="true" data-min-height="0" aria-expanded="false" aria-hidden="true" id="zippy-3-content">  <div class="glue-c-zippy__content-container" ng-transclude="">
                      <div class="answer col col-s-12 col-m-8 col-l-8 ng-scope">
                        We have a variety of plans that are designed to meet your unique business
                        needs. Discover which plan best fits your business needs on our
                        <a data-g-action="plans and pricing page" data-g-event="home: body" data-g-label="/pricing.html" href="/pricing.html" tabindex="-1">plans and pricing page</a>.
                      </div>
                    </div></div></div>
                  </li>
                  <li class="glue-zippy glue-a-zippy--v-smooth-expand question ng-isolate-scope glue-c-zippy" data-g-action="faq Expand:How do I sign up?" data-g-event="Home: body" data-g-label="in-page interaction" id="zippy-4">
                    <div onclick="myFunction('_forth')" class="glue-zippy-btn heading ng-isolate-scope glue-c-zippy__btn" ng-click="gTeamHomeQuestionsCtrl.handleClickQuestion('4')" role="button" tabindex="0" aria-expanded="false" aria-controls="zippy-4-content">
                      <h4 class="question h-c-expansion-panels__button-header">How do I sign up?</h4>
                      <i class="icon material-icons-extended ng-scope" ng-if="!gTeamHomeQuestionsCtrl.ifQuestionExpanded('4')"><img src="../img/chevron-down.png"></i>
                    </div>
                    <div class="glue-zippy-content ng-isolate-scope glue-c-zippy__content" data-glue-zippy-content-set-aria-hidden="true"><div id="dropdown4" glue-collapse="zippyCtrl.collapsed" role="region" class="glue-c-zippy__collapse-region glue-collapse-collapsed" data-glue-collapse-set-aria-hidden="true" data-min-height="0" aria-expanded="false" aria-hidden="true" id="zippy-4-content">  <div class="glue-c-zippy__content-container" ng-transclude="">
                      <div class="answer col col-s-12 col-m-8 col-l-8 ng-scope">
                        Businesses with fewer than 300 employees can <a data-g-action="trial cta" data-g-event="home: body" data-g-label="faq" href="/signup/basic/welcome/?hl=en&amp;source=gafb-homepage-en&amp;ga_region=noram&amp;ga_country=us&amp;ga_lang=en#0" tabindex="-1">
                        sign up online</a> today, or <a data-g-action="contact sales" data-g-event="home: body" data-g-label="faq" href="./contact/?source=gafb-homepage-faq-en" tabindex="-1">contact sales</a> if you’re interested
                        in our Enterprise plans which have no minimum or maximum user limit.
                      </div>
                    </div></div></div>
                  </li>
                  <li class="glue-zippy glue-a-zippy--v-smooth-expand question ng-isolate-scope glue-c-zippy" data-g-action="faq Expand:I work at a large enterprise company – is Google Workspace a good fit for us?" data-g-event="Home: body" data-g-label="in-page interaction" id="zippy-5">
                    <div onclick="myFunction('_fifth')" class="glue-zippy-btn heading ng-isolate-scope glue-c-zippy__btn" ng-click="gTeamHomeQuestionsCtrl.handleClickQuestion('5')" role="button" tabindex="0" aria-expanded="false" aria-controls="zippy-5-content">
                      <h4 class="question h-c-expansion-panels__button-header">I work at a large enterprise company – is Google Workspace a good fit for us?</h4>
                      <i class="icon material-icons-extended ng-scope" ng-if="!gTeamHomeQuestionsCtrl.ifQuestionExpanded('5')"><img src="../img/chevron-down.png"></i>
                    </div>
                    <div class="glue-zippy-content ng-isolate-scope glue-c-zippy__content" data-glue-zippy-content-set-aria-hidden="true"><div id="dropdown5" glue-collapse="zippyCtrl.collapsed" role="region" class="glue-c-zippy__collapse-region glue-collapse-collapsed" data-glue-collapse-set-aria-hidden="true" data-min-height="0" aria-expanded="false" aria-hidden="true" id="zippy-5-content">  <div class="glue-c-zippy__content-container" ng-transclude="">
                      <div class="answer col col-s-12 col-m-8 col-l-8 ng-scope">
                        Yes, we have plans that are specifically built for larger companies that
                        include enterprise-grade security and compliance features, flexible cloud
                        storage options, and advanced meeting capabilities. <a data-g-action="contact sales" data-g-event="home: body" data-g-label="faq" href="./contact/?source=gafb-homepage-faq-en" tabindex="-1">Contact sales</a> to learn more.
                      </div>
                    </div></div></div>
                  </li>
                  <li class="glue-zippy glue-a-zippy--v-smooth-expand question ng-isolate-scope glue-c-zippy" data-g-action="faq Expand:What is the difference between G Suite and Google Workspace?" data-g-event="Home: body" data-g-label="in-page interaction" id="zippy-6">
                    <div onclick="myFunction('_sixth')"class="glue-zippy-btn heading ng-isolate-scope glue-c-zippy__btn" ng-click="gTeamHomeQuestionsCtrl.handleClickQuestion('6')" role="button" tabindex="0" aria-expanded="false" aria-controls="zippy-6-content">
                      <h4 class="question h-c-expansion-panels__button-header">What is the difference between G Suite and Google Workspace?</h4>
                      <i class="icon material-icons-extended ng-scope" ng-if="!gTeamHomeQuestionsCtrl.ifQuestionExpanded('6')"><img src="../img/chevron-down.png"></i>                      
                    </div>
                    <div class="glue-zippy-content ng-isolate-scope glue-c-zippy__content" data-glue-zippy-content-set-aria-hidden="true"><div id="dropdown6"glue-collapse="zippyCtrl.collapsed" role="region" class="glue-c-zippy__collapse-region glue-collapse-collapsed" data-glue-collapse-set-aria-hidden="true" data-min-height="0" aria-expanded="false" aria-hidden="true" id="zippy-6-content">  <div class="glue-c-zippy__content-container" ng-transclude="">
                      <div class="answer col col-s-12 col-m-8 col-l-8 ng-scope">
                        As we’ve evolved G Suite into a more integrated experience across our
                        communication and collaboration tools, we’ve rebranded to Google Workspace to
                        more accurately represent the product vision.
                      </div>
                    </div></div></div>
                  </li>
                </ul>
              </div>
        </section>
    </div>




    <div class="footer">
        <div class="footer-container">
            <div class="footer-nav footer-nav_social">
                <ul class="footer-nav_link-list">
                    <li class="footer-nav_link-item"><a href="https://www.linkedin.com/company/firedns/"><img src="../img/linkedin1.png"></a></li>
                    <li class="footer-nav_link-item"><a href="https://www.facebook.com/firedns/"><img src="../img/facebook1.png"></a></li>
                    <li class="footer-nav_link-item"><a href="https://jobs.webathand.net/projects/firedns/"><img src="../img/twitter1.png"></a></li>                    </ul>
            </div>



            <div class="footer-nav footer-nav_main">
                <ul class="footer-nav_link-list">
                    <li class="footer-nav_link-item"><a href="#" class="footer-nav_link-button">About</a></li>
                    <li class="footer-nav_link-item"><a href="#" class="footer-nav_link-button">Terms</a></li>
                </ul>
            </div>
            <div class="footer-nav footer-nav_versions">
                <ul class="footer-nav_link-list">
                    <li class="footer-nav_link-item"><a href="#" class="footer-nav_link-button">Contact</a></li>
                    <li class="footer-nav_link-item"><a href="#" class="footer-nav_link-button">Privacy</a></li>
                </ul>
            </div>


            <div class="footer-logo">
                <span>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> FireDNS</span>                                 
            </div>
            


            <div class="footer-nav footer-nav_legal">
                <ul class="footer-nav_link-list">
                    <li class="footer-nav_link-item ">13.248.132.238</li>
                    <li class="footer-nav_link-item">13.248.144.238</li>                       
                </ul>
            </div>
        </div>
    </div>
    
</body>    
</html>